# Stripe
STRIPE_PUBLIC_API_KEY=
STRIPE_PRIVATE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000

# Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Next Auth
AUTH_SECRET=

# FaundaDB
FAUNADB_KEY=

NEXTAUTH_URL=http://localhost:3000/
